<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <XCOM.Properties.Settings>
            <setting name="Command_LEVEL_DrawingUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_LEVEL_Precision" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Command_LEVEL_BlockName" serializeAs="String">
                <value>LEVEL</value>
            </setting>
            <setting name="Command_LEVEL_BlockScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_LEVEL_BaseLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_NUMARALANDIR_SelectObjects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_NUMARALANDIR_AttributeName" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_NUMARALANDIR_Order" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_NUMARALANDIR_StartNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Increment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Suffix" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_KMYAZ_TextHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Command_KMYAZ_Precision" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Command_KMYAZ_Prefix" serializeAs="String">
                <value>KM: </value>
            </setting>
            <setting name="Command_KMYAZ_Interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_COORDGRID_TextHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Command_COORDGRID_Interval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Command_LEVEL_Multiplier" serializeAs="String">
                <value>1</value>
            </setting>
        </XCOM.Properties.Settings>
    </userSettings>
</configuration>