<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="XCOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <XCOM.Properties.Settings>
            <setting name="Command_LEVEL_DrawingUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_LEVEL_Precision" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Command_LEVEL_BlockName" serializeAs="String">
                <value>LEVEL</value>
            </setting>
            <setting name="Command_LEVEL_BlockScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_LEVEL_BaseLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_NUMARALANDIR_SelectObjects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_NUMARALANDIR_AttributeName" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_NUMARALANDIR_Order" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_NUMARALANDIR_StartNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Increment" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Suffix" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_KMYAZ_TextHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Command_KMYAZ_Precision" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Command_KMYAZ_Prefix" serializeAs="String">
                <value>KM: </value>
            </setting>
            <setting name="Command_KMYAZ_Interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Command_NUMARALANDIR_Format" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Command_COORDGRID_TextHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Command_COORDGRID_Interval" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Command_LEVEL_Multiplier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_SelectPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_SelectLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_SelectCircle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_SelectPolyline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_Select3DFace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_SelectText" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_LineFormat" serializeAs="String">
                <value>[#]	[X1]	[Y2]	[X2]	[Y2]</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_Precision" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_UCS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Command_PRINTENTCOORDS_SelectBlock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Command_DRAWAXES_DrawOnlyLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Command_DRAWAXES_BlockName" serializeAs="String">
                <value />
            </setting>
            <setting name="Command_DRAWAXES_TextHeight" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="Command_DRAWAXES_Precision" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Command_DRAWAXES_TextStyleName" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="Command_DRAWAXES_AxisAttribute" serializeAs="String">
                <value>AKS</value>
            </setting>
            <setting name="Command_DRAWAXES_ChAttribute" serializeAs="String">
                <value>KM</value>
            </setting>
            <setting name="Command_DRAWAXES_ChPrefix" serializeAs="String">
                <value>KM: </value>
            </setting>
        </XCOM.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
